@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'),
		url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff)
		format('woff');
}

body {
	background: #448ed3;
	font-family: "Lato";
}

.wrap {
	width: 250px;
	height: auto;
	margin: auto;
	margin-top: 5%;
}

.banner {
	width: 690px;
	height: 130px;
	margin: 7px auto;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	padding-left: 190px;
}

.banner0 {
	background: #656964 url(../images/banner.png) no-repeat center left;
}

.avatar {
	width: 100%;
	margin: auto;
	width: 65px;
	border-radius: 100px;
	height: 65px;
	background: #448ed3;
	position: relative;
	bottom: -15px;
}

.avatar img {
	width: 55px;
	height: 55px;
	border-radius: 100px;
	margin: auto;
	border: 3px solid #fff;
	display: block;
}

.wrap input {
	border: none;
	background: #fff;
	font-family: Lato;
	font-weight: 700;
	display: block;
	height: 40px;
	outline: none;
	width: calc(100% - 24px);
	margin: auto;
	padding: 6px 12px 6px 12px;
}

.bar {
	width: 100%;
	height: 1px;
	background: #fff;
}

.bar i {
	width: 95%;
	margin: auto;
	height: 1px;
	display: block;
	background: #d1d1d1;
}

.wrap input[type="text"] {
	border-radius: 7px 7px 0px 0px;
}

.wrap input[type="password"] {
	border-radius: 0px 0px 7px 7px;
}

.forgot_link {
	color: #83afdf;
	color: #83afdf;
	text-decoration: none;
	font-size: 11px;
	position: relative;
	left: 193px;
	top: -36px;
}

.wrap button {
	width: 100%;
	border-radius: 7px;
	background: #b6ee65;
	text-decoration: center;
	border: none;
	color: #51771a;
	margin-top: -5px;
	padding-top: 14px;
	padding-bottom: 14px;
	outline: none;
	font-size: 13px;
	border-bottom: 3px solid #307d63;
	cursor: pointer;
}

.footer-distributed {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
	margin-top: 350px;
}

.footer-distributed .footer-left p {
	color: #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */
.footer-distributed p.footer-links {
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
}

.footer-distributed .footer-right {
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
}

#menubar {
	width: 900px;
	height: 72px;
	padding: 0;
	background: #132E51;
	margin-left: auto;
	margin-right: auto;
}

ul#menu, ul#menu li {
	float: left;
	margin: 0;
	padding: 0;
}

ul#menu li {
	list-style: none;
	position: relative;
}

ul#menu li a {
	letter-spacing: 0.1em;
	font: normal 100% arial, sans-serif;
	display: block;
	float: left;
	height: 37px;
	padding: 29px 26px 6px 26px;
	text-align: center;
	color: #FFF;
	text-transform: uppercase;
	text-decoration: none;
	background: transparent;
}

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover {
	color: #FFF;
	background: #0D66A5;
}
/*prueba*/
#menu ul {
	display: none;
	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	left: 0;
	top: 72px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	z-index: 2;
	background: #1293EE;
	border-top: none;
}

#menu ul li {
	float: none;
	margin: 0;
	padding: 0;
}

#menu ul li a {
	width: 133px;
	text-align: left;
}

#menu li:hover>ul {
	display: block;
}

.alert-box {
	color: #555;
	border-radius: 10px;
	font-family: Tahoma, Geneva, Arial, sans-serif;
	font-size: 11px;
	padding: 10px 10px 10px 36px;
	margin: 10px;
}

alert-box span {
	font-weight: bold;
	text-transform: uppercase;
}

.error {
	border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #D8000C;
	background-color: #FFBABA;
}

#latest figure {
	padding: 4px;
	/*border: 1px solid #D6D6D6;*/
	text-align: center;
	display: block;
	margin: 0;
	padding: 0;
}

ul li article figure {
	
}

ul li article figure img {
	float: left;
	width: 180px;
	height: 150px;
	margin: 0;
	padding: 4px;
	border: 1px solid #666666;
}

ul li article figure figcaption {
	display: block;
	float: right;
	width: 410px;
	color: white;
}

ul li article figure h2 {
	font-size: 14px;
}

ul li article figure footer {
	
}

article figure:hover {
	cursor: pointer;
}

article figure:hover>figcaption {
	color: #1293EE;
}

section {
	display: block;
	margin: 0;
	padding: 0;
}

.one_quarter, .two_quarter, .three_quarter, .four_quarter {
	display: block;
	float: left;
	margin: 40px 20px 10px 0;
}

.one_quarter {
	width: 235px;
}

.two_quarter {
	width: 470px;
}

.three_quarter {
	width: 715px;
}

.four_quarter {
	width: 960px;
	float: none;
	margin-right: 0;
	clear: both;
}

.lastbox {
	margin-right: 0;
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    line-height: 0;
}

.clear {
    display: block;
    clear: both;
    margin-left: 50px;
}

html[xmlns] .clear {
    display: block;
}

* html .clear {
    height: 1%;
}

#latest figure {
    padding: 4px;
    /*border: 1px solid #D6D6D6;*/
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
}

.popup {
    display: none;
    background: rgba(19, 35, 47, 1);
    padding: 40px;
    margin: 50px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    position: fixed;
    z-index: 1000;
    left: 30%;
    top: -20px;
    /*min-width: 300px;*/
    width: 450px;
}